/*
Colors used:
Primary Color (Blue): #4e8098;
Secondary Color (Green): #0b5351;
*/
html {
    font-size: 16px;
}

body {
    font-family: 'Roboto';
    background-color: #E7EEEE;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    color: #052322;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    line-height: 120%;
}

h1 {
    font-weight: 700;
    font-size: 3.812rem;
}

h2 {
    font-weight: 700;
    font-size: 3.062rem;
}

h3 {
    font-weight: 700;
    font-size: 2.438rem;
}

h4 {
    font-weight: 700;
    font-size: 1.938rem;
}

h5 {
    font-weight: 700;
    font-size: 1.562rem;
}

h6 {
    font-weight: 700;
    font-size: 1.25rem;
}

img {
    width: 100%;
}



.primary-button {
    justify-content: center;
    align-items: center;
    padding: 8px 10px;
    width: 296px;
    height: 34px;
    background: #0B5351;
    border-radius: 4px;
    box-shadow: none;
    border: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}

.primary-button:hover {
    background: #0a4c4a;
    color: #FFFFFF;
}

.primary-button:active {
    background: #083b3a;
    color: #FFFFFF;
}

header {
    background-color: #083b3a;
    text-align: center;
    width: 100%;
    padding: 10px 0;
    width: [object Object]px;
    height: [object Object]px;
    background: #E7EEEE;
    border: solid #BDBDBD 0;
    box-shadow: 0 2px 21px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 2px 21px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 2px 21px rgba(0, 0, 0, 0.3);
    position: fixed;
}

main {
    padding-top: 133px;
}

.logo {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 28px;
    line-height: 120%;
    text-align: center;
    color: #052322;
    text-decoration: none;
}

nav>ul {
    list-style-type: none;
    padding: 0;
}

nav>ul>li {
    display: inline-block;
}

nav>ul>li>a {
    padding: 0 15px;
    text-transform: uppercase;
    font-weight: 400;
    color: #052322;
    text-decoration: none;
}

nav>ul>li>a:hover {
    font-weight: 600;
}

nav>ul>li>a:visited {
    color: #052322;
}

nav>ul>li>a:focus {
    font-weight: 800;
    color: #840d1c;
}

#hero {
    background-color: none;
    padding: 20px 0;
    display: inline-block;
    width: 100%;
}

.typography {
    font-style: normal;
    font-weight: 800;
    font-size: 150px;
    line-height: 0;
}

#contact {
    background-color: #213640;
    color: #e7eeee;
    margin: 0;
}

.workthumbnail picture img {
    width: 100%;
    height: 100%;
}

.container img {
    width: 100%;
    height: auto;
}

.personas img {
    padding-top: 15px;
}

/* Layout styling */
.container {
    padding: 0 12px;
}

.row {
    margin: 25px 0;
    /* 25px top and bottom, 0 left and right */
}

#work h5,
h6 {
    margin-top: 15px;
    margin-bottom: 15px;
}

#work h5 {
    text-align: center;
}

#hero h3,
p {
    text-align: center;
    /* Centers text */
}

#work p {
    text-align: left;
}

#hero h3 {
    margin-top: 0;
}

.container h5,
.story h5 {
    text-align: center;
}


footer {
    background-color: #213640;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

footer img {
    width: 24px;
    height: 24px;
}

#contact>div>* {
    margin-bottom: 15px;
}

.email-btn {
    margin-bottom: 15px;
}

.social-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-container a {
    display: inline-block;
    margin-right: 20px;
    width: 24px;
    height: 24px;
}

.social-container a img {
    width: 100%;
    height: 100%;
}

.story {
    text-align: center;

}

.story>a>.primary-button {
    width: auto;
}


/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
    header {
        text-align: unset;
        padding: 20px 0 13px;
    }

    nav {
        width: auto;
        float: right;
        margin-top: 4px;
    }

    main {
        padding-top: 99px;
    }

    #hero span {
        display: block;
    }

    .col-md-6 {
        width: 50%;
    }
 
    [class*="col-"] {
        float: left;
        padding-right: 12px;

    }

    .primary-button {
        width: auto;
    
    }

    .row::after {
        content: "";
        clear: both;
        display: table;
    }

}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {}